*{
    margin: 0%;
    padding: 0%;
    box-sizing: none;
}

 html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    padding: 30px;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.nav-links{
    display: flex;
    padding: 20px;
    gap: 50px;   
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(43, 3, 43);
}

.nav-links a:hover{
    color: #fbbf24;
    text-decoration: underline;
}

.logo{
    /* width: 120px; */
    color: rgb(80, 7, 80);
    font-weight: bold;
    border: solid;
    padding: 10px;
    border-width: 6px;
    border-radius: 12px;
}

.container {
    width: 100%;
}

.hero{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome{
    height: 70vh;
    max-width: 70%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    line-height: 50px;
    background-color: white;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.welcome h1{
    font-size: 3rem;
    text-align: center;
    margin: 50px;
    color: transparent;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    background-image: linear-gradient(rgb(80, 7, 80));
    animation: backcolor 5s linear infinite alternate;
    /* transform: translate(-50%, -50%); */
    /* -webkit-text-stroke: 1px rgb(124, 37, 124); */
}

@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}

.welcome p{
    font-size: 2rem;
    font-weight: 500;
    padding: 0 50px 0 50px;
    color: rgb(43, 3, 43);
}

.about{
    max-width: 100%;
    padding: 50px;
    margin: 50px;
    border-radius: 12px;
    line-height: 42px;
    align-content: center;
    background-color: rgb(253, 225, 253);
}

.about h1{
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    color: rgb(58, 10, 58);
}

.about p{
    font-size: 1.5rem;
    padding: 0 50px 0 50px;
    color: rgb(43, 3, 43);
}

.services{
    max-width: 100%;
    align-content: center;
    padding: 60px;
    margin-bottom: 100px;
    line-height: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.services h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(58, 10, 58);
}

.services h2{
    font-size: 2rem;
    padding: 10px;
    color: rgb(58, 10, 58);
}

.services ul{
    font-size: 1.5rem;
    color: rgb(43, 3, 43);
}

.faqs{
    max-width: 100%;
    padding: 50px;
    margin: 50px;
    border-radius: 12px;
    color: rgb(58, 10, 58);
    background-color: rgb(253, 225, 253);
}

.accordian{
    width: 750px;
    padding: 10px;
    overflow: hidden;
    margin: 60px auto;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.accordian h3{
    padding: 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.accordian p{
    max-height: 0;
    line-height: 30px;
    overflow: hidden;
    font-size: 1.2rem;
    transition: max-height 0.5s, padding 0.5s;
}


.accordian:hover p {
    max-height: 200px; /* Adjust to fit your content */
    padding: 10px 0;
}

.terms{
    max-width: 100%;
    padding: 70px;
    border-radius: 12px;
    color: rgb(58, 10, 58);
    background-color: rgb(253, 225, 253);
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.terms p{
    font-size: 1.3rem;
    color: red;
    padding: 10px;
}

.accordian li{
    font-size: 1.2rem;
    line-height: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordian:hover li {
    max-height: 200px; /* Adjust to fit your content */
    padding: 10px 0;
}

.clients{
    padding: 50px;
    margin: 50px;
    border-radius: 12px;
    color: rgb(58, 10, 58);
    background-color: rgb(253, 225, 253);
}

.clients p{
    font-size: 1.3rem;
    color: red;
    padding: 10px;
}

.contact-section {
        padding: 20px;
        max-width: 900px;
        margin: 50px auto;
        border-radius: 10px;
        font-size: 1.2rem;
        color: rgb(58, 10, 58);
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    
    .schedule-section a{
     font-size: 1.5rem;
     padding: 8px;
     border-radius: 8px;
     background-color: rgb(58, 10, 58);
    }

    .contact-section a {
      color: #fbbf24;
      text-decoration: none;
      font-weight: bold;
    }

    .contact-section a:hover {
      text-decoration: underline;
    }

    .footer-container{
        display: flex;
        height: 150px;
        font-size: 1.2rem;
        gap: 100px;
        margin: 50px;
        line-height: 30px;
    }

    footer a{
        text-decoration: none;
        color: #fbbf24;
        font-weight: bold;
    }

    footer a:hover{
        color: violet;
    }

    .footer-line{
        height: 4px;
        background-color: violet;
    }


   
@media (max-width: 1200px) {
    .navbar {
        font-size: 1.4rem;
        font-weight: 500;
        flex-wrap: wrap;
        padding: 20px;
    }

    .nav-links {
        gap: 20px;
    }

    .logo {
        font-size: 1.2rem;
        border-width: 4px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .welcome {
        width: 90%;
        height: auto;
    }

    .welcome h1 {
        font-size: 2.5rem;
        margin: 30px;
    }

    .welcome p {
        font-size: 1.8rem;
    }

    .about p, .services li {
        font-size: 1.6rem;
    }

     .services li {
        padding: 10px;
        list-style: none;
    }

    .accordian {
        width: auto;
    }

    .accordian p, .accordian h3, .accordian li, .terms p, .clients p {
        font-size: 1.5rem;
        line-height: 35px;
        padding: 20px;
    }

    .contact-section {
        font-size: 1.5rem;
        line-height: 35px;
        padding: 0 40px 0 40px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 35px;
        gap: 20px;
    }

    body {
        width: 100%;
        overflow-x: hidden; 
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 15px;
    }

    .nav-links a {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .container {
        width: 100%;
    }

    .hero img {
        width: 100%;
    }

    .welcome {
        height: auto;
        width: 100%;
    }

    .welcome h1 {
        font-size: 2rem;
        text-align: center;
        color: rgb(43, 3, 43);
        
    }

    .welcome p {
        font-size: 1.6rem;
        padding: 50px;
        line-height: 45px;
        word-spacing: 7px;
    }


    .about, .services, .faqs, .terms, .clients, .contact-section {
        padding: 20px;
        margin: 30px;
        overflow: hidden;
    }

    .about p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .services li {
        padding: 10px;
        list-style: none;
    }


    .about2 img {
        width: 100%;
}


       body {
        width: 100%;
        overflow-x: hidden; 
    }

    .accordian {
        width: auto;
        padding: 20px;
        margin: 30px auto;
        line-height: 28px;
    }
    .accordian li {
        padding: 20px;
        line-height: 26px;
    }

    .contact-section {
        font-size: 1.4rem;
        line-height: 32px;
        padding: 0 40px 0 40px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        line-height: 30px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-wrap: wrap;
        font-size: 1rem;
        padding: 20px;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .logo {
        font-size: 1rem;
        padding: 5px;
    }

    .welcome {
        height: auto;
    }

    .welcome h1 {
        font-size: 1.7rem;
        text-align: center;
        color: rgb(58, 10, 58);
    }

    .welcome p {
        height: auto;
        font-size: 1.2rem;
        line-height: 40px;
        padding: 0 20px 0 20px;
    }

    .about h1, .services h1, .services h2 {
        font-size: 1.3rem;
    }

    .about p {
        font-size: 1.2rem;
        padding: 0 20px 0 20px;
    }

    .services li, .accordian p, .terms p, .clients p, .accordian li, .accordian h3 {
        font-size: 1rem;
        line-height: 26px;
    }

    .accordian li {
        padding: 20px;
    }


    .faqs h1, .terms h1, .clients h1 {
        font-size: 1.2rem;
    }

    .contact-section h3, .contact-section p {
        font-size: 1.2rem;
        line-height: 32px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 30px;
        gap: 20px;

    }


    .footer-line {
        width: 90%;
    }

     body {
        width: 100%;
        overflow-x: hidden; 
    }
}
